@use './roots' as *;

@mixin flexBox($justify-content, $align-items, $flex-direction, $flex-wrap, $gap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    gap: $gap;
}

@mixin gridBox($columns, $rows, $wrap:"wrap", $gap){
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin button($padding, $border,$border-radius, $background-color, $color, $font-size, $font-weight, $box-shadow){
    padding: $padding;
    border: $border;
    border-radius: $border-radius;
    background-color: $background-color;
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    cursor: pointer;
    transition: all 0.3s;

    &:hover{
        filter: brightness(.9);
        box-shadow: 0 0 5px 7px $box-shadow;
    }
}

@mixin input($width, $height, $padding, $border, $fs, $txt-color,$bg-color, $br-radius){
    width: $width;
    height: $height;
    padding: $padding;
    border: $border;
    outline: none;
    font-size: $fs;
    color: $txt-color;
    background: $bg-color;
    border-radius: $br-radius;
}

@mixin glassCard{
    background-image: linear-gradient(135deg rgba(255, 255, 255, .2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
}

@mixin sms($content, $top, $right, $bottom, $left){
    position: relative;

    &::after{
        content: $content;
        position: absolute;
        top: $top;
        bottom: $bottom;
        right: $right;
        left: $left;
        font-size: $fs-10;
        background-color: $bg-skyblue;
        color: $fc-white;
        padding: 2px 6px;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}