// FONT SIZE
$fs-8: .5rem;
$fs-10: 0.625rem;
$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;
$fs-30: 1.875rem;
$fs-36: 2.25rem;
$fs-48: 3rem;
$fs-60: 3.75rem;
$fs-72: 4.5rem;
$fs-100: 6.25rem;
$fs-120: 7.5rem;
$fs-140: 8.75rem;
$fs-160: 10rem;

// FONT WEIGHT
$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;

// FONT FAMILY
$Roboto: 'Roboto';
$BebasNeue: 'Bebas Neue';

// FONT COLOR
$fc-dark: #000;
$fc-white: #fff;
$fc-gray: #384450;
$fc-light-gray: #6B7680;
$fc-skyblue: #30B5DF;

// BACKGROUND COLOR
$bg-dark: #000;
$bg-black: #111C27;
$bg-white: #fff;
$bg-darker-white: #F6F4F4;
$bg-gray: #384450;
$bg-gray-60: #11182760;
$bg-light-gray: #F3F4F6;
$bg-skyblue: #30B5DF;
$bg-skyblue-10: #30B5DF10;
$bg-green: #25D366;
$bg-light-blue: #F7F9FC;
$bg-light-skyblue: #30B5DF;

// BORDER COLOR
$br-blue: #9CA3AF;
$br-blue_1: #949DA6;
$br-blue-2: #D1D6DB;
$br-blue-3: #E5E7EB;
$br-gray: #d1d5db66;
$br-blue-4: #30B5DF;

// BORDER RADIUS
$br-8: .5rem;
$br-10: .625rem;
$br-12: .75rem;
$br-16: 1rem;
$br-18: 1.125rem;
$br-20: 1.25rem;
$br-24: 1.5rem;

// BOX SHADOW COLOR
$shadow-skyblue: #30B5DF66;
$shadow-green: #25D36666;
$shadow-gray: #ffffff66;