@use '../../roots' as *;
@use '../../mixins';


.doktor {
    margin-top: 50px;
    margin-bottom: 50px;
    @include mixins.flexBox(center, center, row, '', 1rem);

    @media only screen and (max-width: 640px) {
        @include mixins.flexBox(center, center, column, '', 1rem);
        margin-bottom: 10px;

        &__img {
            img {
                width: 350px;

            }
        }
    }

    &__txt {
        font-family: $Roboto;

        h2 {
            color: $bg-skyblue;
            font-size: $fs-30;
        }

        p {
            font-size: $fs-18;
            font-weight: $fw-4;
            width: 450px;
            color: $fc-gray;

        }

        @media only screen and (max-width: 640px) {
            h2 {
                font-size: $fs-22;
                text-align: center;
            }

            p {
                font-size: $fs-16;
                text-align: center;
                ;
            }


        }
    }

}