@use '../../roots' as *;
@use '../../mixins';

.garand {
    padding: 20px 80px;
    font-family: $Roboto;
    margin-top: 140px;
    background-color: $bg-light-blue;
    @include mixins.flexBox(center, center, row, '', 14rem);
    overflow: hidden;
    border-radius: 20px;
    height: 500px;

    &__img {
        @include mixins.flexBox(center, center, row, '', '');
        width: 30rem;

        #tishcha {
            width: 750px;
            position: relative;
            top: 50px;
            right: 160px;
            filter: brightness(110%);

            @media only screen and (max-width: 1024px) {
                display: none;
            }

        }

        #tish {
            width: 630px;
            position: relative;
            top: 50px;
            left: 250px;
            filter: brightness(110%);

            @media only screen and (max-width: 1024px) {
                display: none;
            }
        }

        .none {
            display: none;

            @media only screen and (max-width: 1024px) {
                display: block;
                position: relative;
                top: 50px;
                left: -40px;

                img {
                    width: 380px;

                }
            }
        }
    }

    &__txt {
        h1 {
            font-size: $fs_48;
            padding-bottom: 15px;

            @media only screen and (max-width: 1024px) {
                padding-bottom: 10px;
                font-size: $fs_36;

            }

        }

        .month {
            @include mixins.flexBox(start, center, row, '', 3rem);

            .month1 {
                padding: 10px 0;

                h2 {
                    color: $bg-dark;
                    font-size: $fs_24;

                    @media only screen and (max-width: 1024px) {
                        padding-bottom: 0px;
                        font-size: $fs_18;

                    }
                }

                p {
                    margin-top: -10px;
                    font-size: $fs_18;

                }

                @media only screen and (max-width: 1024px) {
                    padding: 5px 0;

                }
            }
        }

        p {
            color: $bg-gray;
            font-size: $fs_18;
            line-height: 1.7;

            span {
                color: $bg-skyblue;
            }

            @media only screen and (max-width: 1024px) {
                font-size: $fs_16;

            }
        }

        h4 {
            margin-top: 20px;
            font-weight: $fw-5;
            font-size: $fs-20;
        }
    }

    @media only screen and (max-width: 1024px) {
        @include mixins.flexBox(center, center, row, '', 1rem);
        padding: 20px 40px;
    margin-top: 80px;


    }
}