@use '../../roots' as *;
@use '../../mixins';

.instruments {
    margin-top: 100px;
    @include mixins.flexBox(space-between, center, row, '', 3rem);
    font-family: $Roboto;

    &__img img {
        width: 100%;

        @media only screen and (max-width: 640px) {
            width: 100%;
            padding: 0 20px;
        }
    }

    &__form {
        width: 700px;

        h1 {
            font-size: $fs-60;

            @media only screen and (max-width: 640px) {
                font-size: $fs-30;
                text-align: center;
                margin-top: -40px;
            }
        }

        p {
            margin-top: 10px;
            width: 500px;
            color: $fc-gray;
            font-size: $fs-22;

            @media only screen and (max-width: 640px) {
                font-size: $fs-16;
                text-align: center;
                width: 370px;
                padding: 0 20px;
                position: relative;
                left: 160px;
            }
        }

        .email {
            @include mixins.flexBox(flex-start, center, '', wrap, 0.8rem);

            margin-top: 20px;

            .gmail {
                @include mixins.input(50%, 2.5rem, 1.5rem, 1px solid rgba(88, 88, 88, 0.322), 1rem, grey, white, 0.5rem);
            }

            .whatsApp {
                @include mixins.button(10px 15px, 1px solid $bg-skyblue, $br-8, $bg-skyblue, $fc-white, $fs-22, $fw-5, $shadow-skyblue);
                @media only screen and (max-width: 640px) {
                    width: 50%;
                }
            }

            @media only screen and (max-width: 640px) {
                @include mixins.flexBox(flex-start, center, column, '', 0.8rem);

            }
        }

        .gift {
            margin-top: 20px;
            @include mixins.flexBox(flex-start, center, row, '', 0.8rem);

            .gift1,
            .gift2 {
                width: 280px;
                @include mixins.flexBox(space-between, center, row, '', 0.8rem);
                background-color: $bg-light-blue;
                p {
                    font-size: $fs-18;
                    @media only screen and (max-width: 640px) {
                        font-size: $fs-16;
                        position: relative;
                        left: -30px;
                    }
                }
                @media only screen and (max-width: 640px) {
                width: 350px;
                @include mixins.flexBox(center, center, row, '', '');
                    }
            }
            @media only screen and (max-width: 640px) {
            @include mixins.flexBox(flex-start, center, column, '', 0.8rem);

            }
        }
    }

    @media only screen and (max-width: 640px) {
        @include mixins.flexBox(space-between, center, column, '', 3rem);
    }
}