@use '../../roots' as *;
@use '../../mixins';


.stamatolog {
    width: 70%;
    height: 600px;
    margin-top: 170px;
    margin-bottom: 100px;
    background-color: $bg-light-blue;
    padding: 60px 60px;
    border-radius: $br-24;
    @include mixins.flexBox(flex-start, center, row, '', 1.4rem);

    &__txt {
        width: 50%;

        h1 {
            font-size: $fs-52;
            line-height: 1;

            span {
                color: $bg-skyblue;
            }

            @media only screen and (max-width: 1024px) {
                font-size: $fs-38;
                margin-bottom: 20px;

            }
        }

        h4 {
            margin: 10px 0;
            font-size: $fs-22;
            font-weight: $fw-5;

            @media only screen and (max-width: 1024px) {
                font-size: $fs-16;
                margin-bottom: 20px;

            }
        }

        ul {
            list-style: disc;
            color: $bg-gray;
            position: relative;
            left: 20px;
            line-height: 2;
            font-size: $fs-18;
            margin-bottom: 20px;

            li::marker {
                color: $bg-skyblue;
            }

            @media only screen and (max-width: 1024px) {
                line-height: 1.2;
                width: 350px;
            }
        }

        .email {
            @include mixins.flexBox(flex-start, center, row, '', 0.8rem);
            margin-top: 10px;

            .google {
                margin-top: -0px;
                @include mixins.input(50%, 2.5rem, 1.5rem, 1px solid rgba(88, 88, 88, 0.322), 1rem, grey, white, 0.5rem);

                @media only screen and (max-width: 1024px) {
                    @include mixins.input(50%, 2.5rem, '', 1px solid rgba(88, 88, 88, 0.322), 1rem, grey, white, 0.5rem);
                    padding: 0 20px;
                    text-align: center;
                }
            }

            .whatsApp {
                @include mixins.button(12px 15px, 1px solid $bg-skyblue, $br-8, $bg-skyblue, $fc-white, $fs-20, $fw-5, $shadow-skyblue);

                @media only screen and (max-width: 1024px) {
                @include mixins.button(12px 10px, 1px solid $bg-skyblue, $br-8, $bg-skyblue, $fc-white, $fs-20, $fw-5, $shadow-skyblue);

                    width: 60%;
                    font-size: $fs-16;
                }
            }

            @media only screen and (max-width: 1024px) {}

            .gift {
                margin-top: 20px;
                @include mixins.flexBox(flex-start, center, row, wrap, 1.4rem);

                .gift1,
                .gift2 {
                    width: 300px;
                    @include mixins.flexBox(space-between, center, row, '', 0.5rem);

                    p {
                        font-size: $fs-18;

                        @media only screen and (max-width: 1024px) {
                            p {
                                font-size: $fs-16;
                            }
                        }
                    }

                    img {
                        width: 30%;

                        @media only screen and (max-width: 1024px) {
                            width: 15%;

                        }
                    }

                    @media only screen and (max-width: 1024px) {}
                }

                @media only screen and (max-width: 1024px) {
                    @include mixins.flexBox(flex-start, center, column, '', 1.4rem);

                }


                @media only screen and (max-width: 1024px) {
                    .gift1 {
                        display: none;
                    }
                }
                .gift1 {
                    display: none;
                }
            }
        }

        @media only screen and (max-width: 1024px) {
            width: 60%;
        }

    }

    &__img {
        width: 600px;

        img {
            width: 650px;
            position: relative;
            top: -87px;

            @media only screen and (max-width: 1024px) {
                width: 490px;
                top: 0px;
                right: 30px;
            }
        }

        @media only screen and (max-width: 1024px) {
            width: 30%;
        }
    }

    @media only screen and (max-width: 1024px) {
        @include mixins.flexBox(flex-start, center, row, '', 1rem);
        overflow: hidden;
        height: 500px;
        padding: 30px 30px;
        width: 100%;

    }
}