@use '../../roots' as *;
@use '../../mixins';

.team {
    margin-top: 50px;
    margin-bottom: 50px;
    @include mixins.flexBox(space-between, start, column, wrap, '');
    font-family: $Roboto;
    &__txt {
        margin-top: 60px;
        margin-bottom: 30px;
        @include mixins.flexBox(space-between, start, row, '', 27.5rem);
        h1 {
            width: 500px;
            font-size: $fs-36;
            span {
                color: $bg-skyblue;
            }
        }
        .poragraph {
            width: 500px;
            p {
                font-size: $fs-20;
                color: $fc-gray;
                padding: 5px;
            }
        }
    }
    &__image {
        width: 100%;
        height: 800px;
        background-image: url(./../../../../assets/img/team\ stamotolog.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
    }


}