@use '../../roots' as *;
@use '../../mixins';


.testamonial {
    margin-top: 100px;

    .tes-txt {
        text-align: center;

        h1 {
            font-size: $fs-48;
        }

        p {
            font-size: $fs-18;
        }

        margin-bottom: 50px;
    }

    &__news {
        @include mixins.flexBox(center, center, column, '', 2rem);

        .item {
            padding: 20px;
            border-radius: $br-24;
            width: 70%;
            background-color: $bg-light-blue;
            @include mixins.flexBox(start, center, row, '', 4rem);

            &__txt {
                @include mixins.flexBox(start, flex-start, column, '', 0.7rem);
                width: 500px;

                h2 {
                    color: $bg-dark;

                    span {
                        color: $bg-skyblue;
                    }

                    @media only screen and (max-width: 1024px) {
                        font-size: $fs-24;
                    }
                }

                h4 {
                    font-size: $fs-20;
                    font-weight: $fw-4;
                    @media only screen and (max-width: 1024px) {
                        font-size: $fs-20;
                    }
                }

                p {
                    font-size: $fs-18;
                    color: $bg-gray;
                    @media only screen and (max-width: 1024px) {
                        font-size: $fs-16;
                    }
                }
            }

            @media only screen and (max-width: 1024px) {
                width: 100%;
                padding: 20px;
            @include mixins.flexBox(start, center, row, '', 2rem);

            }

        }

        .item2 {
            padding: 20px;
            border-radius: $br-24;
            width: 70%;
            background-color: $bg-light-blue;
            @include mixins.flexBox(end, center, row, '', 4rem);

            &__txt {
                @include mixins.flexBox(start, flex-start, column, '', 0.7rem);
                width: 500px;

                h2 {
                    color: $bg-dark;
                    font-size: $fs-24;

                    span {
                        color: $bg-skyblue;
                    }
                    @media only screen and (max-width: 1024px) {
                        font-size: $fs-24;
                    }
                }

                h4 {
                    font-size: $fs-20;
                    font-weight: $fw-4;
                    @media only screen and (max-width: 1024px) {
                        font-size: $fs-20;
                    }
                }

                p {
                    font-size: $fs-18;
                    color: $bg-gray;
                    @media only screen and (max-width: 1024px) {
                        font-size: $fs-16;
                    }
                }
            }

            @media only screen and (max-width: 1024px) {
                width: 100%;
            }
        }
    }

}