@use '../../../roots' as *;
@use '../../../mixins';

.header{
    width: 100%;
    font-family: $Roboto;
    .nav{
        height: 5rem;
        @include mixins.flexBox(space-between, center, row, nowrap, 0);

        .nav__logo{
            @include mixins.flexBox(space-between, center, row, nowrap, 1rem);

            p{
                color: $fc-dark;
                font-size: $fs-16;
                width: 15rem;
                border-left: 1px solid $bg-dark;
                padding: .3rem 1rem;
            }
        }

        .nav__menu{
            @include mixins.flexBox(space-between, center, row, nowrap, 2.2rem);
            li {
                position: relative;
                a{
                    color: $fc-dark;
                    font-size: $fs-16;
                }
            }
            .nav__servmenu, .nav__clinmenu {
                width: 20rem;
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #fff;
                box-shadow: 0 0px 12px rgba(0,0,0,0.12);
                padding: 0;
                margin: 0;
                z-index: 1000;

                li{
                    position: relative;
                }

                a{
                    display: block;
                    width: 100%;
                    padding: 15px;
                    &:hover{
                        background-color: $bg-light-gray
                    }
                }

            }
            .nav__services{
                &:hover .nav__servmenu{
                    display: block;
                }
            }
            .nav__clinic{
                &:hover .nav__clinmenu{
                    display: block
                }
            }
        }
        .nav__burger{
            @include mixins.flexBox(center, center, row, nowrap, .4rem);
            display: none;
            cursor: pointer;
            a{
                color: $fc-skyblue;
                font-size: $fs-18;
            }
            i{
                color: $fc-skyblue;
                font-size: $fs-24;
            }
        }
    }
}

@media only screen and (max-width: 1200px){
    .header{
        .nav{
            .nav__menu{
                @include mixins.flexBox('', '', '', '', 1.2rem);
            }
        }
    }
}
@media only screen and (max-width: 992px){
    .header{
        .nav{
            .nav__logo{
                p{
                    display: none;
                }
            }
            .nav__menu{
                display: none;
            }
            .nav__burger{
                display: flex;
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .header{
        .nav{
            .nav__logo{
                p{
                    display: none;
                }
            }
            .nav__menu{
                display: none;
            }
            .nav__burger{
                display: flex;
            }
        }
    }
}
@media only screen and (max-width: 360px){

}