@use '../../roots' as *;
@use '../../mixins';

.calculate_sec{
    font-family: $Roboto;
    @include mixins.flexBox(center, center, column, no-wrap, 1rem);

    h1{
        
    }

    .cont{
        @include mixins.flexBox(center, center, row, wrap, 1rem);
        .margarita_card{
            width: 35%;
            .margarita{
                .img{
                    @include mixins.flexBox(center, center, row, no-wrap, 1rem);
                    .img_women{
                        width: 80px;
                        height: 80px;
                        background-image: url('../../../assets/img/opoqi.png');
                        background-size: 180%;
                        background-position: 60% 0%;
                        background-repeat: no-repeat;
                        border-radius: $br-16;
                        border: 5px solid $br-gray;
                    }
                    .box{
                        @include mixins.flexBox(center, center, column, no-wrap, .4rem);
                    }
                }
            }
        }
    }
}