@use '../../roots' as *;
@use '../../mixins';

.heading_sec{
    width: 100%;
    font-family: $Roboto;
    height: 650px;
    background-color: $bg-darker-white;
    background-image: url('../../../assets/img/heading_sec_img.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 850px;
    border-radius: $br-20;
    padding: 2rem;
    position: relative;
    @include mixins.flexBox(center, flex-start, column, '', 2rem);
    .txt{
        @include mixins.flexBox(center, flex-start, column, '', '');
        h3{
            color: $fc-light-gray;
            font-size: $fs-24;
        }
        h1{
            color: $fc-skyblue;
            font-size: $fs-120;
            font-family: $Roboto, sans-serif;
            font-weight: $fw-8;
        }
        h5{
            color: $fc-dark;
            font-size: $fs-16;
            font-weight: $fw-4;
        }
    }
    .buttons{
        @include mixins.flexBox(center, center, '', wrap, 1.5rem);
        .record{
            @include mixins.button(10px 15px, 1px solid $bg-skyblue, $br-8, $bg-skyblue, $fc-white, $fs-16, $fw-5, $shadow-skyblue);
        }
        .whatsApp{
            @include mixins.button(10px 15px, 1px solid $bg-green, $br-8, $bg-green, $fc-white, $fs-16, $fw-5, $shadow-green);
        }
    }
    .working_time{
        @include mixins.flexBox(center, center, '', '', 1.5rem);
        li{
            @include mixins.flexBox(center, center, '', '', .5rem);
            i{
                font-size: $fs-24;
                color: $fc-skyblue;
            }
            p{
                color: $fc-dark;
                font-weight: $fw-4;
                font-size: $fs-16;
            }
        }
    }
    .reklam{
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        width: 100%;
        @include mixins.flexBox(flex-end, center, row, '', .6rem);
        .card{
            padding: 1rem;
            border-radius: $br-10;
            border: 1px solid $br-gray;
            position: relative;
            @include mixins.glassCard;
            &:last-child{
                padding: .6rem;
                img{
                    height: 100%;
                }
            }
            img{
                height: 100%;
            }
        }
        .card_1{
            @include mixins.sms('60', -12px, 0, '', '');
        }
        .card_2{
            @include mixins.sms('34', -12px, 0, '', '');
        }
        .card_3{
            @include mixins.sms('4', -12px, 0, '', '');
        }
    }
}


@media only screen and (max-width: 1440px){
    .heading_sec{
        .reklam{
            display: none;
        }
    }
}
@media only screen and (max-width: 1024px){
    .heading_sec{
        background-image: url('../../../assets/img/heading_sec_img_2.png') !important;
        background-position: right;
        background-size: 500px;

        .txt{
            h3{
                font-size: $fs-20;
            }
            h1{
                font-size: $fs-72;
                font-family: $Roboto, sans-serif;
                font-weight: $fw-8;
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .heading_sec{
        .working_time{
            display: none;
        }
    }
}
@media only screen and (max-width: 557px){
    .heading_sec{
        background-position: bottom center;
        background-size: 450px;
        @include mixins.flexBox(space-around, center, column, '', .6rem);

        .txt{
            @include mixins.flexBox(center, center, column, '', '');
            text-align: center;
            margin-bottom: 8rem;
            h3{
                font-size: $fs-18;
            }
            h1{
                font-size: $fs-48;
            }
            h5{
                font-size: $fs-14;
            }
        }
        .buttons{
            width: 100%;
            li{
                text-align: center;
                @include mixins.flexBox(center, center, column, '', 2rem);
                width: 100%;
                .record{
                    width: 100%;
                    @include mixins.button(10px 0, 1px solid $bg-skyblue, $br-8, $bg-skyblue, $fc-white, $fs-16, $fw-5, $shadow-skyblue);
                }
                .whatsApp{
                    width: 100%;
                    @include mixins.button(10px 0, 1px solid $bg-green, $br-8, $bg-green, $fc-white, $fs-16, $fw-5, $shadow-green);
                }
            }
        }
        .reklam{
            position: relative;
            bottom: 0;
            right: 0;
            width: 100%;
            @include mixins.flexBox(flex-end, center, row, '', .6rem);
            .card{
                @include mixins.flexBox(center, center, row, '', .6rem);
                width: 100%;
                &:last-child{
                    position: static;
                    bottom: 4px;
                    padding: 1rem;
                    img{
                        height: 1rem;
                    }
                }
                img{
                    height: .6rem;
                }
            }
            .card_1{
                @include mixins.sms('60', -12px, 0, '', '');
            }
            .card_2{
                @include mixins.sms('34', -12px, 0, '', '');
            }
            .card_3{
                @include mixins.sms('4', -12px, 0, '', '');
            }
        }
    }
}

@media only screen and (max-width: 375px){
    .heading_sec{
        .buttons{
            width: 100%;
            li{
                text-align: center;
                @include mixins.flexBox(center, center, column, '', 2rem);
                width: 100%;
                .record{
                    width: 100%;
                    @include mixins.button(10px 5px, 1px solid $bg-skyblue, $br-8, $bg-skyblue, $fc-white, $fs-12, $fw-5, $shadow-skyblue);
                }
                .whatsApp{
                    width: 100%;
                    @include mixins.button(10px 5px, 1px solid $bg-green, $br-8, $bg-green, $fc-white, $fs-12, $fw-5, $shadow-green);
                }
            }
        }
    }
}
@media only screen and (max-width: 320px){

}