.img1 {
    width: 371.3333435058594px;
    height: 407px;
    border-radius: 24px;
    border-width: 1px;
    background: $card-bg;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1{
    background-color: aqua;
}