@use '../components/header';
@use './main/hero';
@use './main/win';
@use './main/skills';
@use './main/timeline';
@use './main/doktor';
@use './main/vernut';
@use './main/doubts';
@use './main/garand';
@use './main/instruments';
@use './main/gallery';
@use './main/team';
@use '../components/footer';

